p{
    color:red;
}

h3{
    color:rgb(95, 16, 95);
}

a {
    background-color:black;
    color: orange;
    text-decoration: none;
}

#parrafo3{
    color:green;
}

.textovioleta{
    color:rgb(134, 20, 134);
}
.textoazul{
    color:blue;
}

.fondoRojo{
    background-color: red;
}

.fondoVerde{
    background-color:greenyellow;
}

.textoGrandeNegrita{
    font-size: x-large;
    font-weight: 1000;
    font-family:serif;
}

.imgPequeña{
    height: 600px;
}

.img1{
    height: 20px;
}
.contenedorConMargen{
    margin-top:30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border:1px solid blue;
    padding: 10px;
}

.contenedorDivsGrid{
    border:3px solid greenyellow;
    display: grid;
    grid-template-rows:80px 80px 80px 80px;
    grid-template-columns: 30% 10% 60%;
    margin:20px;
}

.contenedorDivsFlex{
    border:3px solid rgb(47, 102, 255);
    display:flex;
    height:500px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}


.divtest{
    border:1px solid red;
    height:50px;
}
